<ion-view title="Profile" ng-init="init()">
  
  <ion-content>

   <div class="list">

    
      <div class="item item-button-right">
        <img id="myphoto" style="height: auto; width: auto; max-width: 100px; max-height: 100px;">
        <button class="button icon ion-edit" ng-click="getPhoto()"></button>
      </div>    


      <div ng-if="!editUsername" class="item item-button-right">
        <span class="ubuntu" style="font-size:24px">{{user.username}}</span>
        <button class="button icon ion-edit" ng-click="startEditUsername(true)"></button>
      </div>

      <div ng-if="editUsername" class="item item-button-right">
        <input id="usernameInput" type="text" ng-model="user.username">
        <button class="button icon ion-checkmark-round positive" ng-click="startEditUsername(false)"></button>
      </div>


        
        <label class="item item-input item-select item-button-right" >
          <span class="input-label ubuntu" style="font-size:24px">
             Country{{user.countryCode!=undefined?': ':''}}
          </span>

          <select ng-model="user.countryCode" ng-change="setCountry()">
            <option ng-repeat="i in countries" value="{{i.code}}">
              {{i.name}}
            </option>
          </select>
        
          <img ng-if="countryFlag!=undefined" ng-src="emoji/{{countryFlag}}.svg">
        </label>

    
      <div ng-if="!editAge" class="item item-button-right">
        <span class="ubuntu" style="font-size:24px">
          Age{{user.age!=undefined?': ' + user.age: user.age}}
        </span>
        <button class="button icon ion-edit" ng-click="startEditAge(true)"></button>
      </div>

      <div ng-if="editAge" class="item item-button-right">
        <input id="ageInput" type="number" ng-model="user.age">
        <button class="button icon ion-checkmark-round positive" ng-click="startEditAge(false)"></button>
      </div>


      <div ng-if="!editGender" class="item item-button-right">
        <span class="ubuntu" style="font-size:24px">
          Gender{{user.gender!=undefined?': ' + user.gender:user.gender}}
        </span>
        <button class="button icon ion-edit" ng-click="startEditGender(true)"></button>
      </div>

      <div ng-if="editGender"  class="item item-button-right">   
        <ion-radio ng-model="user.gender" ng-value="'Female'" ng-click="startEditGender(false)">Female</ion-radio>
        <ion-radio ng-model="user.gender" ng-value="'Male'" ng-click="startEditGender(false)">Male</ion-radio>
      </div>

    </div>

    

  </ion-content>
</ion-view>