<ion-view title="Signup">
  
    
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Your Name" ng-model="user.username" >

        <!-- ng-focus="show=false"
        ng-blur="show=true" -->

      </label>


      <img id="photo" style="height: auto; width: auto; max-width: 62%; max-height: 62%;"
      ng-click="getPhoto()">

      <button ng-if="status==0" ng-click="getPhoto()" class="item button button-block button-dark icon-right ion-images ubuntu">
        Choose Photo
      </button>

    </div>

   

    <div class="padding">
      <button ng-if="status==0" class="button button-block button-positive" ng-click="signup()">That's it</button>
    </div>

  </ion-content>
</ion-view>