
<ion-view title="Country you want to call" hide-back-button="false" hide-nav-bar="false" ng-init="init()">
  
 
 <ion-nav-bar class="bar bar-header bar-dark">
   <ion-nav-back-button class="button-clear ubuntu"
     ng-click="goBack()">
     <i class="ion-arrow-left-b"></i> Back
   </ion-nav-back-button>
 </ion-nav-bar>
 
<!--  <ion-nav-bar class="bar bar-header bar-dark">
   <ion-nav-back-button class="button-clear ubuntu"
     ng-click="goBack()">
     <i class="ion-arrow-left-b"></i> Back
   </ion-nav-back-button>
 </ion-nav-bar>

 <ion-header-bar class="bar bar-subheader">
    <input type="text" class="ubuntu" ng-model="search" placeholder="Search" />
 </ion-header-bar> -->



  <ion-content > <!-- has-header="true" -->

      <div class="list" >
        <a class="item item-avatar" 
            ng-click="pickCountry(c)"
            ng-repeat="c in countries | orderBy:['-online', 'name'] | filter: search | limitTo: limit">
          <img ng-src="emoji/{{c.flag}}.svg">
          <h2 class="ubuntu">{{c.name}}</h2>
           <p class="ubuntu">{{c.code}}, <span class="positive"><strong>{{c.online | number}}</strong></span> online</p>
        </a>
      </div>  



      <ion-infinite-scroll ng-if="limit <= 209" on-infinite="loadMore()" distance="5%">
      </ion-infinite-scroll>

  </ion-content>

  <ion-footer-bar>
    <label style="width:100%;" class="item item-input">       

      <i class="icon ion-search placeholder-icon"></i>
      <input type="text"
            style="text-align:center;" 
            class="ubuntu" 
            ng-disabled="myInterests.length >= 5"
            ng-model="search"
            placeholder="Search">

     </label>
  </ion-footer-bar>

</ion-view>