
<ion-view title="Pick your country" hide-back-button="false" hide-nav-bar="false">
 
<ion-nav-bar class="bar bar-header bar-dark">
  <ion-nav-back-button class="button-clear ubuntu"
    ng-click="goBack()">
    <i class="ion-arrow-left-b"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>

 
 <ion-header-bar class="bar bar-subheader">
    <input type="text" class="ubuntu" ng-model="search" placeholder="Search" />
 </ion-header-bar>


  <ion-content class="has-header"> 
                  

      <div class="list" style='background-image: url("bg.png");'>
        <a class="item item-avatar" 
            ng-click="pickCountry(c)"
            ng-repeat="c in countries | orderBy:'name' | filter: search | limitTo: limit">
          <img ng-src="emoji/{{c.flag}}.svg">
          <h2 class="ubuntu">{{c.name}}</h2>
           <p class="ubuntu">{{c.code}}</p>
        </a>
      </div>


      <ion-infinite-scroll ng-if="limit <= 209" on-infinite="loadMore()" distance="5%">
      </ion-infinite-scroll>
  </ion-content>


</ion-view>