
<ion-view hide-back-button="false" hide-nav-bar="false" ng-init="init()">

	<ion-nav-bar class="bar bar-header bar-dark">
	  <ion-nav-back-button class="button-clear ubuntu"
	    ng-click="goBack()">
	    <i class="ion-arrow-left-b"></i> Back
	  </ion-nav-back-button>
	</ion-nav-bar>
	

  <ion-content has-header="true">

    <div style="padding-top: 29%; text-align: center;"> 
      <h3 class="ubuntu">{{welcomeMsg}}</h3>
      <br />
      <button class="button button-dark ubuntu" ng-click='login()'>Choose what country to call</button>
    </div>
  </ion-content>

</ion-view>