
  <ion-view title="Call" hide-back-button="true" hide-nav-bar="true" ng-init="init()">
  
<!--   <ion-nav-buttons side="right">


  <button class="button button-icon icon"
  ng-class="{ 'ion-ios7-mic-off': muted, 'ion-ios7-mic': !muted }"
  ng-click="toggleMute()"
  ng-if="cordova.platformId === 'ios' || cordova.platformId === 'android'"></button>
  <button class="button button-icon icon ion-plus-round" 
  ng-click="openSelectContactModal()"></button>
</ion-nav-buttons> -->


<ion-content on-scroll="updateVideoPosition()" on-scroll-complete="updateVideoPosition()" style="background-color: #111;">

<!-- <div class="calling-container" ng-if="isCalling && !callInProgress">
 
  <p>Calling to <span class="balanced">{{ contactName }}</span>...</p>

  <button class="button button-assertive" ng-click="ignore()">
    Nevermind
  </button>
</div> -->


<div class="calling-container" ng-if="!isCalling && !callInProgress">
  <!-- <p><span class="balanced">{{ contactName }}</span> is calling you</p> -->


</div>

<!--<div class="calling-container" ng-if="callInProgress">
   <p>
    Call in progress...
  </p>

  <button class="button button-assertive" ng-click="end()">
    End
  </button> 
</div> -->


<!-- <div class="controllersContainer1">
</div> -->

<video-view></video-view>



</ion-content>


<ion-footer-bar id="foot" class="bar-dark">
  <div class="buttons">
    <button class="button button-assertive ubuntu" ng-click="end()">End Call</button>
  </div>

  <h1 class="title">{{percentage}}%</h1>
  
  <div style="padding-right:5px;" class="buttons">
    <h5 style="color: white;">{{callTime() | date:'mm:ss'}}</h5>
  </div>

</ion-footer-bar>

</ion-view>