
<ion-view title="Call" hide-back-button="true" hide-nav-bar="true" ng-init="init()">
  

  <ion-content on-scroll="updateVideoPosition()" on-scroll-complete="updateVideoPosition()" style="background-color: #111;">

      <div class="calling-container" ng-if="!isCalling && !callInProgress">


        <button class="button button-positive ubuntu" ng-click="answer()">
          Answer
        </button>

        <button class="button button-assertive ubuntu" ng-click="ignore()">
          Ignore
        </button>
      </div>

      <video-view></video-view>

  </ion-content>


  <ion-footer-bar id="foot" class="bar-dark">
    
    <div class="row row-center">
      <div class="buttons col col-30">
        <button class="button button-assertive ubuntu" ng-click="end()">End Call</button>
      </div>


    
      <div class="col col-40 ubuntu" style="text-align: center;">
        <span ng-repeat="i in commonInterests">{{i}} </span>
      </div>
      
      <div style="padding-right:0px;" class="buttons col col-30">
        <div class="row">
          <div class="col">
          </div>
          <div class="col col-30">
            <span style="color: white;">{{callTime() | date:'mm:ss'}}</span>
          </div>
        </div>
      </div>
    </div>

  </ion-footer-bar>

</ion-view>