
<ion-view title="Inter your interests" hide-back-button="false" hide-nav-bar="false" ng-init="init()">
  
 

<ion-nav-bar class="bar bar-header bar-dark">
  <ion-nav-back-button class="button-clear ubuntu"
    ng-click="goBack()">
    <i class="ion-arrow-left-b"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>

  <ion-content> 
      
      <div class="row" >
        <div class="col">
          <button class="button button-block icon ion-playstation {{categoryArray[0]?'button-dark':'button-stable'}} ubuntu"
          ng-click="showAdded(0, 'Games')"></button>
        </div>
        <div class="col">
          <button class="button button-block icon ion-heart {{categoryArray[1]?'button-dark':'button-stable'}} ubuntu"
          ng-click="showAdded(1, 'Love')"></button>
        </div>
        <div class="col">
          <button class="button button-block icon ion-music-note {{categoryArray[2]?'button-dark':'button-stable'}} ubuntu"
          ng-click="showAdded(2, 'Music')"></button>
        </div>
        <div class="col">
          <button class="button button-block icon ion-film-marker {{categoryArray[3]?'button-dark':'button-stable'}} ubuntu"
          ng-click="showAdded(3, 'Movies')"></button>
        </div>
        <div class="col">
          <button class="button button-block icon ion-earth {{categoryArray[4]?'button-dark':'button-stable'}} ubuntu"
          ng-click="showAdded(4, 'Travel')"></button>
        </div>

      </div>

      <div class="row">
        <div class="col">

          <label class="item item-input">       

            <input type="text"
                  style="width=100%;" class="ubuntu" 
                  ng-disabled="myInterests.length >= 5"
                  ng-model="interest"
                  placeholder="{{interestsPlaceholder()}}">

           </label>

        </div>
        <div class="col col-20">
          <button class="button button-icon icon ion-plus-circled" 
            style="width: 100%;" 
            ng-click="add(interest); interest = ''"
            ng-hide="myInterests.length >= 5 || interest == ''">
              
          </button>
        </div>
      </div>


      <button style="margin-left:5px;"
       class="button {{i.isDelete?'button-assertive':'button-dark'}}"
       ng-repeat="i in myInterests"
       ng-click="toDelete(i)">
        {{i.isDelete?'Delete':i.value}}
      </button>


      
       
       <!-- Start Search -->
    <!-- class="button button-size button-dark icon-right  -->


   

  </ion-content>

  <div class='toast ubuntu' style='display:none'></div>

  <div style="margin-top: 300px;"></div>
  <div style="text-align: center">
    <button class="button button-icon largeCenteredButton icon ion-arrow-right-c" ng-disabled="myInterests.length == 0 && !showSearch" ng-if="myInterests.length > 0 || showSearch" ng-click="search()"></button>
  </div>
</ion-view>