<ion-view title="Search" hide-back-button="false" hide-nav-bar="false" ng-init="init()">
  
  <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-back-button class="button-clear ubuntu"
      ng-click="back()">
      <i class="ion-arrow-left-b"></i> Cancel
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    

    <div style="text-align: center;">
         

      <h4 class="center ubuntu balanced">Online users: {{online() | number}}</h4>

      <h4 class="ubuntu toplettlePadding">Searching and matching your interests</h4>

      <h3>{{dots}}</h3>

   </div>

    <div class="center topBottomIsolatePadding">
      
      <button class="button button-energized ubuntu" ng-click="smileysLuck()">See your emoji luck</button>
      
      <div class="row toplettlePadding">
        <div class="col"><img ng-src="emoji/{{img1}}.svg" /></div>
        <div class="col"><img ng-src="emoji/{{img2}}.svg" /></div>
        <div class="col"><img ng-src="emoji/{{img3}}.svg" /></div>
        <div class="col"><img ng-src="emoji/{{img4}}.svg" /></div>
      </div>

    </div>

    <h4 class="ubuntu lettlePadding toplettlePadding"><span class="positive">Tips:</span> {{tip}}</h4>
    

  </ion-content>

</ion-view>

