<ion-view title="Search" hide-back-button="false" hide-nav-bar="true" ng-init="init()">

  <ion-content>
    

    <div style="text-align: center;">
         

      <h4 class="center ubuntu balanced">Online users: {{online() | number}}</h4>

      <h4 class="ubuntu toplettlePadding">Searching and matching your interests</h4>

      <h3>{{dots}}</h3>

   </div>

    <div class="center topBottomIsolatePadding">
      
      <button class="button button-energized ubuntu" ng-click="smileysLuck()">See your emoji luck</button>
      
      <div class="row toplettlePadding">
        <div class="col"><img ng-src="emoji/{{img1}}.svg" /></div>
        <div class="col"><img ng-src="emoji/{{img2}}.svg" /></div>
        <div class="col"><img ng-src="emoji/{{img3}}.svg" /></div>
        <div class="col"><img ng-src="emoji/{{img4}}.svg" /></div>
      </div>

    </div>

    <h4 class="ubuntu lettlePadding toplettlePadding"><span class="positive">Tips:</span> {{tip}}</h4>
    

  </ion-content>

  <ion-footer-bar>
    <div class="bar bar-header">
      <a class="button icon-left button-light ubuntu"
        ng-click="back()">Cancel</a>
    </div>
  </ion-footer-bar>


</ion-view>

