
<ion-view title="Help" hide-back-button="false" hide-nav-bar="false">
  
  	<ion-content > 
		
			<div class="list">  			
	  			<span class="item item-text-wrap ubuntu">Seyona is dedicated to find your face in somebody else.</span>
	  							<span class="item item-text-wrap ubuntu">By clicking start you will be asked to take a picture, make
	  								sure: -
	  								<div class="list">
	  									<span class="item item-text-wrap ubuntu">1. You keep a short distance between you and the camera.</span>
	  									<span class="item item-text-wrap ubuntu">2. Their is enough light to capture a clear picture .</span>
	  									<span class="item item-text-wrap ubuntu">3. Only one face is appear in the photo for Seyona to
	  										process.</span>
	  								</div>
	  							</span>
	  							<span class="item item-text-wrap ubuntu">Seyona would take few seconds to access you to a person
	  								look like you.</span>
	  							<span class="item item-text-wrap ubuntu">Since you start the call you have only six minutes (time,
	  								look-alike percentage and other options will be displayed while
	  								calling).</span>
	  								
	  								
	  								
	  							<span class="item item-text-wrap ubuntu">If the users want to end the call, simply hit the hangup
	  								button to find someone hold a higher percentage.</span>
	  							<span class="item item-text-wrap ubuntu">Share button will provide you with a picture of your twin
	  								after counting to three (when the first party choose to share, the
	  								other party should accept the sharing process to be allowed and
	  								used by both parties)</span>
	  							<span class="item item-text-wrap ubuntu">Seyona will help you to find your look-alike. On the other
	  								hand, by using the negative options in the main page before taking
	  								the picture , Seyona will search for people who has face feature
	  								does not look like you.</span>
	  						</div>

  	</ion-content>

</ion-view>