
<ion-view title="Seyona" hide-back-button="false" hide-nav-bar="true" ng-init="init()"
  style='background-image: url("bg.jpg"); background-size: cover;'> 
  
  <ion-content > 
    
    <div style="text-align: center; margin-top:13%;">
      <img src="logo.svg" style="width:{{size()}}px; height:{{size()}}px;" />
      <br />
      <span class="ubuntu">
        <span style="color: #00a651;">Seyona</span>
      </span>
    </div>


    <div style="margin-top: 13%;" class="row">
      <div class="col"></div>
      <div class="col col-80">
        <span style="color: #888;" class="ubuntu">Have a video chat by</span>
      </div>
      <div class="col"></div>
    </div>
    

    <div class="row">
      <div class="col"></div>
      <div class="col col-80">
        <a style="margin: 0px !important;" ui-sref="app.pickothercountry" class="button button-block  button-dark button-large ubuntu icon-right ion-flag">Country</a>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col col-80">
        <a style="margin: 0px !important;" ui-sref="app.pickinterests" class="button button-block  button-dark button-large ubuntu icon-right ion-paper-airplane">Interest</a>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col col-80">
        <a style="margin: 0px !important;" ui-sref="app.takepicture" class="button button-block  button-dark ubuntu button-large icon-right ion-person-stalker">Face</a>
      </div>
      <div class="col"></div>
    </div>

   

  </ion-content>

  <ion-footer-bar id="foot" class="bar-dark">
      
      <div class="buttons">
        <a id="helpBtn" ui-sref="app.help" class="button button-icon icon ion-help-circled"></a>
      </div>

      <h1 class="title"></h1>

      <div class="buttons">
        <a ui-sref="app.showprofile" class="button button-icon icon ion-person"></a>
      </div>

    </div>

  </ion-footer-bar>

</ion-view>
