<ion-view hide-back-button="false">
	
	<ion-nav-bar class="bar bar-header bar-dark">
	  <ion-nav-back-button class="button-clear ubuntu"
	    ng-click="goBack()">
	    <i class="ion-arrow-left-b"></i> Back
	  </ion-nav-back-button>
	</ion-nav-bar>

	<ion-content>

		
		<div style="text-align: center; margin-top:80px;">
			<h2 class="ubuntu">Search for</h2>
			<!-- <div class="row">
			  <div class="col"> -->
				<button ng-click="positive()" class="button button-size button-light icon-right ion-person ubuntu">
				  		Similar person
				</button>
			  <!-- </div>
			  <div class="col"> -->
				<button ng-click="negative()" class="button button-size button-dark icon-right ion-happy ubuntu">
				  		 Unalike person
				</button>
			  <!-- </div>
			</div> -->
		</div>
		
	</ion-content>
</ion-view>
