<ion-view title="Search" hide-back-button="true" hide-nav-bar="true">
  <ion-content>
    

  <p>
        <ion-spinner icon="ripple" class="spinner-royal"></ion-spinner>
  </p>


    <h4>online users: {{onlineUsersCount()}}</h4>
    <h4>Tips: {{tip}}</h4>
    
    <ul class="list">
      <li class="item item-button-right" ng-repeat="contact in contacts">
        <i class="icon ion-record" style="color: green"></i>
        {{ contact }}
        <button class="button button-positive" 
                ui-sref="app.call({ isCalling: true, contactName: contact })">
          <i class="icon ion-ios7-telephone"></i>
        </button>
      </li>
    </ul>

  </ion-content>
</ion-view>