.progress-bar-icon {
	font-size: 36px;
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	height: 36px;
	width: 36px;
	z-index: 3;
}

.calling-container {
	text-align: center;
	margin-top: 20px;
}

.calling-container p {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}



@media screen and (min-width: 1024px) {
	.video-container {
		width: 700px; 
		height: 700px; 
	}
}







/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (min-device-width: 320px) and (max-device-width: 360px) and (-webkit-device-pixel-ratio: 2) {

  	.video-container {
  		width: 400px; 
  		height: 400px; 
  	}
}






.video-container {
	/*width: 300px; 
	height: 300px;*/
	background-color: #000; 
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	z-index: -999 !important;
}

/*.controllersContainer {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.1) !important;

	z-index: 999 !important;

}

.myOverlay {
	z-index: 999 !important;
	background: rgba(51,51,51,0.5) !important;
}*/


#photo {
	display: block;
	margin-left: auto;
    margin-right: auto;
	max-width: 80%; 
	min-width: 80%;
	max-height: 80%;
}

.button-size {
	width: 61%;
	margin-top: 15px;
	height: 61px;
}

p {
	font-family: Ubuntu Mono;
	color: #333;
	font-size: 155%;
	/*font-weight: bold;*/
	padding: 20% 20% 0 20%;
	line-height: 34px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
	letter-spacing: .03em;
	word-spacing: .25em;
}


.spinner svg {
  width: 100% !important;
  height: 50% !important;
}


.center {
	text-align: center;
}

.ubuntu {
	font-family: Ubuntu Mono;
}

.lettlePadding {
	padding-left: 10%;
	padding-right: 13%;
}

.toplettlePadding {
	padding-top: 25px;
}


.topBottomIsolatePadding {
	padding-top: 55px;
	padding-bottom: 55px;
}